.profile {
  color: #fff;
  display: flex;
  padding-top: 40px;
  width: calc(100% - 400px);
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 1280px) {
  .profile {
    width: 880px;
  }
}

@media (max-width: 1084px) {
  .profile {
    width: calc(100% - 100px);
  }
}

@media (max-width: 768px) {
  .profile {
    padding-top: 42px;
    width: calc(100% - 38px);
  }
}

@media (max-width: 700px) {
  .profile {
    flex-direction: column;
  }
}