.elements {
  width: calc(100% - 400px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 17px;
  row-gap: 20px;
  padding-top: 50px;
}

@media (min-width: 1280px) {
  .elements {
    width: 880px;
  }
}

@media (max-width: 1084px) {
  .elements {
    width: calc(100% - 100px);
  }
}

@media (max-width: 768px) {
  .elements {
    width: calc(100% - 38px);
    grid-template-columns: repeat(2, 1fr);
    padding-top: 36px;
  }
}

@media (max-width: 520px) {
  .elements {
    grid-template-columns: 1fr;
  }
}