.authoriz__link {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  width: 358px;
  display: inline-block;
  margin-top: 15px;
}

.authoriz__link:hover{ 
  opacity: 0.6;
}