.element__trash {
  transition: opacity 0.3s;
  background: none;
  background-image: url(../../../images/trash.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  border: none;
  width: 18px;
  height: 19.3px;
  position: absolute;
  top: 18px;
  right: 15px;
}

.element__trash:hover {
  opacity: 0.6;
  cursor: pointer;
}

.element__trash:focus {
  border: none;
  outline: none;
}